:root {
  --color-beige: #F5F5DC;
  --color-manteca: #FFFDD0;
  --color-bison: #C1B7A7;
  --color-azul-oscuro: #1B263B;
  --color-gris-oscuro: #2C3333;
  --color-negro-suave: #252525;
  --color-gris-claro: #E8E8E8;
  --color-sombra: rgba(0, 0, 0, 0.1);
}