.skills {
  padding: 4rem 2rem;
  background-color: #1B4D3E;
  width: 100%;
}

.skills-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.skills h2 {
  color: #f5f5eb;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
}

.skills h2::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  height: 3px;
  background-color: #f5f5eb;
  border-radius: 2px;
}

.skills-container {
  display: flex;
  justify-content: center;
}

.skills-category {
  flex: 1;
  background-color: #f8f8f0;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(27, 77, 62, 0.1);
}

.skills-category h3 {
  color: #1B4D3E;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.main-skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1.5rem;
  justify-content: center;
}

.skill-card {
  position: relative;
  overflow: hidden;
  background: transparent;
  padding: 1.2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100px;
}

.skill-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 15px rgba(27, 77, 62, 0.1);
}

.skill-icon {
  font-size: 2.2rem;
  transition: all 0.3s ease;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.skill-card:hover .skill-icon {
  transform: rotate(15deg); 
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
}


.js-icon { 
  color: #F7DF1E;
  filter: drop-shadow(0 2px 4px rgba(247, 223, 30, 0.2));
}
.react-icon { 
  color: #61DAFB;
  filter: drop-shadow(0 2px 4px rgba(97, 218, 251, 0.2));
}
.html-icon { 
  color: #E34F26;
  filter: drop-shadow(0 2px 4px rgba(227, 79, 38, 0.2));
}
.css-icon { 
  color: #1572B6;
  filter: drop-shadow(0 2px 4px rgba(21, 114, 182, 0.2));
}
.sql-icon { 
  color: #4479A1;
  filter: drop-shadow(0 2px 4px rgba(68, 121, 161, 0.2));
}
.git-icon { 
  color: #F05032;
  filter: drop-shadow(0 2px 4px rgba(240, 80, 50, 0.2));
}
.github-icon { 
  color: #181717;
  filter: drop-shadow(0 2px 4px rgba(24, 23, 23, 0.2));
}
.python-icon { 
  color: #3776AB;
  filter: drop-shadow(0 2px 4px rgba(55, 118, 171, 0.2));
}

@media (max-width: 768px) {
  .main-skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .skill-icon {
    font-size: 2rem;
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}